.hero {
  min-height: 560px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -16px;
}

.hero h1 {
  font-size: 80px;
  line-height: 88px;
}

.hero::after {
  background: var(--soft-gradient);
  display: block;
  content: "";
  width: 100vw;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 120px 16px;
}

.subheading {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.breadCrumbs {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 16px;
  font-size: 14px;
}

.currentPage {
  color: var(--text-faded);
}

.currentPage::before,
.parentPage::before {
  content: "→";
  margin: 0 8px;
  color: var(--text-faded);
  opacity: 0.5;
}

@keyframes fade-up {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container h1 {
  animation: fade-up 1s ease-out both;
}

.container .subheading {
  animation: fade-up 1s ease-out 0.3s both;
}

@media screen and (max-width: 992px) {
  .hero {
    min-height: 560px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -16px;
  }

  .hero h1 {
    font-size: 64px;
    line-height: 80px;
    margin: 0 0 24px;
  }

  .container {
    padding-top: 120px;
    padding-bottom: 144px;
  }

  .subheading {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 16px;
    text-align: left;
  }

  .subheading {
    text-align: left;
  }

  .breadCrumbs {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 16px;
    font-size: 14px;
    text-align: left;
  }
}
