@keyframes fade-up {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.eventbox {
  width: calc(50% - 16px);
  padding: 32px 32px 35% 32px;
  position: relative;
  display: block;
  overflow: hidden;
  animation: fade-up 0.6s ease-out 2s both;
  cursor: pointer;
}

.eventbox:nth-child(2) {
  animation: fade-up 0.6s ease-out 2.2s both;
}

.eventbox::after {
  display: none;
}

.eventtitle {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
}

.eventtext {
  margin-top: -12px;
}

.eventtext h3 {
  margin-top: -4px;
}

.eventdescription {
  position: absolute;
  z-index: 1;
  font-weight: 400;
  color: #fff;
  bottom: 32px;
  width: calc(100% - 64px);
  opacity: 0;
  transform: translateY(40px);
  transition: 0.3s all ease-out;
}

.eventbox:hover .eventdescription {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 1920px) {
  .eventtext {
    margin-top: -4px;
  }
}

@media screen and (max-width: 1024px) {
  .eventbox {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    min-height: 560px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .eventbox:last-of-type {
    margin-bottom: 0;
  }

  .eventdescription {
    bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .eventbox {
    min-height: 320px;
  }

  .eventdescription {
    position: relative;
    opacity: 0;
    width: 100%;
    margin-top: 24px;
  }

  .eventtext {
    margin-top: 0px;
  }
}
