.hero {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.container {
  max-width: 864px;
  padding-bottom: 96px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

@keyframes fade-up {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container a {
  animation: fade-up 1s ease-out 0.8s both;
}

.stars {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes stars-in {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes stars-1-pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

.stars svg {
  width: 304px;
  height: auto;
}

.stars svg:nth-child(1),
.stars svg:nth-child(2) {
  position: absolute;
}

.stars svg:nth-child(1) {
  left: -256px;
  top: -64px;
  animation: stars-in 1s ease-in-out both,
    stars-1-pulse 5s ease-in-out 1s infinite forwards;
}

.stars svg:nth-child(2) {
  animation: stars-in 1s ease-in-out 0.2s both,
    stars-1-pulse 5s ease-in-out 1.2s infinite forwards;
  right: -208px;
  bottom: 32px;
}

@media screen and (max-width: 992px) {
  .stars svg {
    width: 200px;
  }

  .stars svg:nth-child(1) {
    left: 0;
    top: -216px;
  }

  .stars svg:nth-child(2) {
    right: 0;
    bottom: -96px;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    min-height: 90vh;
  }

  .container {
    padding-bottom: 40px;
  }

  .stars svg {
    width: 96px;
    display: none;
  }
}
