.nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

.container {
  width: 1120px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 48px;
  display: flex;
  align-items: center;
}

.logo svg {
  margin: 0;
  overflow: visible;
}

.logo svg path:nth-child(1),
.logo svg path:nth-child(2),
.logo svg path:nth-child(3) {
  transition: 0.3s all ease;
}

.logo:hover svg path:nth-child(1),
.logo:hover svg path:nth-child(2),
.logo:hover svg path:nth-child(3) {
  transform: translateY(-4px);
}

.logo svg path:nth-child(4),
.logo svg path:nth-child(5),
.logo svg path:nth-child(6),
.logo svg path:nth-child(7),
.logo svg path:nth-child(8) {
  transition: 0.3s all ease;
}

.logo:hover svg path:nth-child(4),
.logo:hover svg path:nth-child(5),
.logo:hover svg path:nth-child(6),
.logo:hover svg path:nth-child(7),
.logo:hover svg path:nth-child(8) {
  transform: translateY(4px);
}

.nav ul {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.3s all ease;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 32px;
  transition: 0.3s all ease;
}

.nav a {
  font-weight: 400;
  color: var(--text-body);
  font-weight: 600;
  display: inline-flex;
  height: 100%;
  text-transform: uppercase;
}

.nav li a svg {
  display: none;
}

.nav ul:hover > li {
  opacity: 0.5;
}

.nav ul:hover > li:hover {
  opacity: 1;
}

.nav a::after {
  display: none;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  display: none;
  z-index: 1;
}

.hamburger span {
  display: block;
  height: 3px;
  margin-bottom: 9px;
  background: #011310;
  transition: 0.2s all ease;
}

.hamburger span:last-of-type {
  margin-bottom: 0;
}

.lineOne {
  width: 100%;
}

.lineTwo {
  width: 75%;
  margin-left: auto;
}

.lineThree {
  width: 100%;
}

.hamburger:hover .lineTwo {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .nav {
    backdrop-filter: none;
    background: rgba(255, 255, 255, 1);
  }

  .nav ul {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    padding-bottom: 120px;
    transition: 0.6s all ease;
    top: -140%;
    align-items: center;
  }

  .hovered {
    opacity: 1;
  }

  .nav ul li {
    width: 75%;
    margin: 0 0 32px 0;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 16px;
  }

  .nav ul li:last-of-type {
    margin-bottom: 0;
  }

  .nav a {
    font-size: 28px;
    line-height: 34px;
    text-transform: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav li a svg {
    display: block;
    margin-top: 2px;
    opacity: 0.4;
  }

  .hamburger {
    display: inline-flex;
  }

  nav .opened {
    top: 0 !important;
    opacity: 1;
  }

  .hamburger.opened .lineTwo {
    opacity: 0;
    width: 0;
  }

  .hamburger.opened .lineOne {
    transform: rotate(45deg) translate(9px, 8px);
  }

  .hamburger.opened .lineThree {
    transform: rotate(-45deg) translate(9px, -8px);
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(-16px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  nav .opened li {
    animation: fade-up 0.6s ease-out 0.4s both;
  }

  nav .opened li:nth-child(2) {
    animation-delay: 0.5s;
  }

  nav .opened li:nth-child(3) {
    animation-delay: 0.6s;
  }

  nav .opened li:nth-child(4) {
    animation-delay: 0.7s;
  }

  nav .opened li:nth-child(5) {
    animation-delay: 0.8s;
  }

  nav .opened li:nth-child(6) {
    animation-delay: 0.9s;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    padding: 8px 0;
    height: 64px;
  }

  .logo {
    height: 32px;
    display: flex;
    align-items: center;
  }

  .logo svg {
    height: 16px;
    width: auto;
  }

  .hamburger {
    width: 32px;
    height: 32px;
  }

  .nav ul {
    flex-direction: column;
    padding-bottom: 120px;
    padding: 80px 16px 144px;
  }

  .nav ul li {
    margin: 0 0 24px 0;
    padding: 0 0 12px;
  }

  .nav a {
    font-size: 20px;
    line-height: 28px;
  }

  .hamburger span {
    margin-bottom: 6px;
  }

  .hamburger.opened .lineOne {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .hamburger.opened .lineThree {
    transform: rotate(-45deg) translate(6px, -7px);
  }

  .hamburger:hover .lineTwo {
    width: 75%;
  }
}
